:root {
    --background-color: #1c2135;
    --background-text-color: #faffff;
    --card-width: 10rem;
    --card-height: 10rem;
    --card-gap-horizontal: 2em;
    --card-gap-vertical: 2em;
}
.card {
    background-color: #080907;
    color: #faffff;
}
.card.has-image {
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 
        1px  1px 1px black,
        -1px  1px 1px black,
        -1px -1px 1px black,
        1px -1px 1px black;
}
.card-text {
    overflow: hidden;
}
.domino-card-basic-red   { 
    background-color: #ec5e5a; 
    color: #faffff;
}                                                                                                 
.domino-card-basic-orange {
    background-color: #e8a251;
    color: #080907;
}
.domino-card-basic-yellow  { 
    background-color: #fff73d; 
    color: #080907;
}
.domino-card-basic-green {
    background-color: #aee14c;
    color: #faffff;
}
.domino-card-basic-cyan {
    background-color: #25f6a7;
    color: #080907;
}
.domino-card-basic-blue {
    background-color: #1fa9bb;
    color: #faffff;
}
.domino-card-basic-dark-blue {
    background-color: #2a3181;
    color: #faffff;
}
.domino-card-basic-pink {
    background-color: #e70074;
    color: #faffff;
}
.domino-card-basic-gold {
    background-color: #e6d870;
    color: #080907;
    }
.domino-card-basic-grey {
    background-color: #b7bcbf;
    color: #080907;
}
.domino-card-rounded-red {
    background-color: #e23f16;
    color: #080907;
    border-radius: 2em;
}
.domino-card-rounded-orange {
    background-color: #e0924d;
    color: #080907;
    border-radius: 2em;
}
.domino-card-rounded-yellow {
    background-color: #d7cf2a;
    color: #080907;
    border-radius: 2em;
}
.domino-card-rounded-green {
    background-color: #2ba573;
    color: #080907;
    border-radius: 2em;
}
.domino-card-heading { 
    background-color: #b7bcbf;
    align-items: center;
    color: #080907;
    border: 1em solid #080808;
}
}